@*generic html is added for the beginning content of this razor page
Logic can be involved
razor supports a number of csharp constructs like the following*@

@model IEnumerable<DotNet.Models.Trip>
@{ 
    //this is a property bag of data that can be sent and retrieved in these views
    //changes the title element to "Home Page" after adding @ViewBag.Title
    ViewBag.Title = "Home Page";
}
<div class="row">

    <div class="col-md-6">
        <h3>The World</h3>
        <p>This website will be fun soon!</p>
        <form>
            <div class="form-group">
                <label>Date</label>
                <input class="form-control" />
            </div>
            <div class="form-group">
                <label>Location</label>
                <input class="form-control" />
            </div>
            <div>
                <input type="submit" name="name" value="Add" class="btn btn-success" />
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <h1>The Map</h1>

        <ul>
            @foreach ( var item in Model )
            {
            <li>@item.Name : @item.DateCreated.ToString("d")</li>
            }
        </ul>

    </div>

</div>
